<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Health Update Usage Description</key>
	<string>Guardaremos tu score de energía en HealthKit para rastrear tu progreso</string>
	<key>Microphone Usage Description</key>
	<string>Necesitamos acceso al micrófono para conversar con tu coach de energía por voz</string>
</dict>
</plist>
